/*-----------------------------------------*/
/****************变量*******************/
/*-----------------------------------------*/
/*-----------------------------------------*/
/****************公用样式*******************/
/*-----------------------------------------*/
.clear-both::after {
  clear: both;
  content: ".";
  display: block;
  visibility: hidden;
  height: 0;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.transition {
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.transform-scale {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.hover-transform-scale {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
}
.text-ban {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}
.track-list {
  scrollbar-face-color: #c7c7c7;
  scrollbar-highlight-color: #c7c7c7;
  scrollbar-3dlight-color: #c7c7c7;
  scrollbar-darkshadow-color: #c7c7c7;
  scrollbar-Shadow-color: #c7c7c7;
  scrollbar-arrow-color: #c7c7c7;
  scrollbar-track-color: #ebebeb;
}
.track-list::-webkit-scrollbar {
  width: 7px;
  height: 9px;
}
.track-list::-webkit-scrollbar-button:end:increment,
.track-list::-webkit-scrollbar-button:start:decrement {
  display: block;
  height: 0;
  background-color: transparent;
}
.track-list::-webkit-scrollbar-track-piece {
  -webkit-border-radius: 0;
  -webkit-border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  background: #ebebeb;
}
.track-list::-webkit-scrollbar-thumb:vertical {
  height: 50px;
  background-color: rgba(250, 4, 77, 0.8);
  -webkit-border-radius: 4px;
}
.track-list::-webkit-scrollbar-thumb:horizontal {
  width: 50px;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
}
/*-----------------------------------------*/
/****************元素样式*******************/
/*-----------------------------------------*/
/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
/** 清除内外边距 **/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
/* 重设 HTML5 标签, IE 需要在 js 中 createElement(TAG) */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
/* HTML5 媒体文件跟 img 保持一致 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
input,
select,
textarea {
  font-size: 100%;
}
/* 去掉各 table cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align */
th {
  text-align: inherit;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
i {
  font-style: normal;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 16px;
}
h3,
h4,
h5,
h6 {
  font-size: 14px;
}
/* 解决ie下重复最后字符 */
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}
/** 设置默认字体 **/
body,
button,
input,
select,
textarea {
  font: 14px helvetica neue, arial, hiragino sans gb, microsoft yahei, sans-serif;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
/* 将斜体扶正 */
code,
kbd,
pre,
samp {
  font-family: courier new, courier, monospace;
}
/* 统一等宽字体 */
small {
  font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/** 重置列表元素 **/
ul,
ol {
  list-style: none;
}
/** 重置文本格式元素 **/
a {
  text-decoration: none;
  cursor: pointer;
  color: #333;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
a:hover {
  color: #5da1fd;
}
/** 清除选中状态蓝色边框 **/
a,
img,
input,
select,
textarea {
  outline: none;
  border: none;
}
/** 定义布局方式 **/
* {
  box-sizing: border-box;
}
input[type=submit] {
  -webkit-appearance: none;
}
/**************************/
/********页面样式**********/
/**************************/
body {
  max-width: 767px;
  margin: 0 auto;
  color: #fff;
  background-color: #2c97e7;
}
.banner {
  width: 100%;
  font-size: 0;
  position: relative;
}
.banner img {
  width: 100%;
  height: auto;
}
.banner img.logo {
  position: absolute;
  top: 0.04830918rem;
  right: 0.80515298rem;
  width: 1.93236715rem;
}
.banner .prize {
  position: absolute;
  top: 0;
  left: 0.80515298rem;
  display: block;
  width: 2.10950081rem;
  height: 1.40901771rem;
  background: url("../images/icon.png") no-repeat -2.44766506rem -9.64573269rem;
  background-size: 4.63768116rem auto;
}
.banner .return {
  position: absolute;
  top: 0;
  left: 0.80515298rem;
  display: block;
  width: 2.10950081rem;
  height: 0.96618357rem;
  line-height: 0.96618357rem;
  border-radius: 0.07246377rem;
  font-size: 14px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(167, 74, 10, 0.8);
  background: #ea670d;
  text-align: center;
}
.banner .return:after {
  position: absolute;
  top: 100%;
  left: 50%;
  content: "";
  margin-left: -1.03864734rem;
  border: 1.03864734rem solid transparent;
  border-top-width: 0.41545894rem;
  border-bottom-width: 0.41545894rem;
  border-top-color: #ea670d;
}
.footer {
  line-height: 30px;
  text-align: center;
  font-size: 14px;
}
.container {
  width: 100%;
  margin-top: -1.93236715rem;
  padding-bottom: 60px;
  position: relative;
  z-index: 1;
}
.map-bg {
  width: 9.25925926rem;
  height: 19.68599034rem;
  margin: 0 auto;
  padding: 1.32045089rem 0.40257649rem 0;
  background: url("../images/bg.png") no-repeat;
  background-size: 100% auto;
}
.map-bg .map {
  position: relative;
}
.map-bg .row:nth-child(odd) .item:nth-child(odd) {
  background: url("../images/icon.png") no-repeat 0 -3.87022398rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(odd) .item:nth-child(even) {
  background: url("../images/icon.png") no-repeat 0 -2.08607817rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(odd) .item:first-child {
  background: url("../images/icon.png") no-repeat 0 -7.41106719rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(odd) .item:last-child {
  background: url("../images/icon.png") no-repeat 0 -9.18606353rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(even) .item:nth-child(odd) {
  background: url("../images/icon.png") no-repeat 0 -2.08607817rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(even) .item:nth-child(even) {
  background: url("../images/icon.png") no-repeat 0 -3.87022398rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(even) .item:first-child {
  background: url("../images/icon.png") no-repeat 0 -5.63607085rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:nth-child(even) .item:last-child {
  background: url("../images/icon.png") no-repeat 0 -10.96105987rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row:first-child .item:first-child {
  background: none !important;
}
.map-bg .row:first-child .item:first-child:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 2.24637681rem;
  height: 2.41545894rem;
  margin-left: -1.09903382rem;
  margin-top: -1.03864734rem;
  z-index: 10;
  background: url("../images/icon.png") no-repeat 0 0;
  background-size: 6.52622143rem auto;
}
.map-bg .row:last-child .item:last-child {
  background: none !important;
}
.map-bg .row:last-child .item:last-child:after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "";
  display: block;
  width: 2.24637681rem;
  height: 2.41545894rem;
  margin-left: -1.09903382rem;
  margin-top: -1.03864734rem;
  z-index: 10;
  background: url("../images/icon.png") no-repeat -2.43600279rem 0;
  background-size: 6.52622143rem auto;
}
.map-bg .row .item {
  float: left;
  width: 1.20772947rem;
  height: 1.5942029rem;
  position: relative;
}
.map-bg .row .item div {
  width: 100%;
  height: 100%;
}
.map-bg .row .item div.wb {
  background: url("../images/icon.png") no-repeat -1.39071878rem -2.08607817rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.aq {
  background: url("../images/icon.png") no-repeat -1.39071878rem -3.87022398rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.zl {
  background: url("../images/icon.png") no-repeat -1.39071878rem -5.63607085rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.hb {
  background: url("../images/icon.png") no-repeat -1.39071878rem -7.41106719rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.std {
  background: url("../images/icon.png") no-repeat -2.78143756rem -2.08607817rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.tys {
  background: url("../images/icon.png") no-repeat -2.78143756rem -3.87022398rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.up {
  background: url("../images/icon.png") no-repeat -2.78143756rem -5.63607085rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.ddb {
  background: url("../images/icon.png") no-repeat -2.78143756rem -7.41106719rem;
  background-size: 5.27009223rem auto;
}
.map-bg .row .item div.xtd {
  background: url("../images/icon.png") no-repeat -2.78143756rem -9.18606353rem;
  background-size: 5.27009223rem auto;
}
.map-bg .route {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
}
.map-bg .route .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.20772947rem;
  height: 1.5942029rem;
  padding: 0.07246377rem;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.map-bg .route .user.active {
  -webkit-animation: forwardBounce 0.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
  -moz-animation: forwardBounce 0.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
  -o-animation: forwardBounce 0.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
  animation: forwardBounce 0.5s cubic-bezier(0.3, 0.27, 0.07, 1.64);
}
.map-bg .route .user .img-box {
  width: 1.06280193rem;
  height: 1.06280193rem;
  margin-top: -0.32206119rem;
  padding: 0.07246377rem;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.map-bg .route .user .img-box:after {
  position: absolute;
  left: 50%;
  top: 100%;
  content: "";
  margin-top: -0.07246377rem;
  margin-left: -0.24154589rem;
  border: 0.24154589rem solid transparent;
  border-top-color: #fff;
}
.map-bg .route .user .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.dice {
  position: fixed;
  bottom: 30px;
  left: 50%;
  display: block;
  width: 160px;
  height: 46px;
  line-height: 46px;
  padding-left: 20px;
  margin-left: -80px;
  font-size: 18px;
  border-radius: 23px;
  color: #fff;
  background-color: rgba(228, 57, 60, 0.9);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.8);
  text-align: center;
  z-index: 9999;
}
.dice:hover {
  color: #fff;
}
.dice em {
  position: absolute;
  top: -50px;
  left: 50%;
  display: block;
  width: 88px;
  height: 24px;
  margin-left: -50px;
  line-height: 24px;
  font-size: 12px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.6);
}
.dice span {
  position: absolute;
  top: 3px;
  left: 15px;
  display: block;
  width: 40px;
  height: 40px;
  background: url("../images/icon.png") no-repeat -184px -40px;
  background-size: 230.4px auto;
}
.dice span.dice_1 {
  background: url("../images/icon.png") no-repeat -184px -40px;
  background-size: 230.4px auto;
}
.dice span.dice_2 {
  background: url("../images/icon.png") no-repeat -184px -80px;
  background-size: 230.4px auto;
}
.dice span.dice_3 {
  background: url("../images/icon.png") no-repeat -184px -120px;
  background-size: 230.4px auto;
}
.dice span.dice_4 {
  background: url("../images/icon.png") no-repeat -184px -160px;
  background-size: 230.4px auto;
}
.dice span.dice_5 {
  background: url("../images/icon.png") no-repeat -184px -200px;
  background-size: 230.4px auto;
}
.dice span.dice_6 {
  background: url("../images/icon.png") no-repeat -184px -240px;
  background-size: 230.4px auto;
}
.dice span.dice_roll_1 {
  background: url("../images/icon.png") no-repeat -184px -280px;
  background-size: 230.4px auto;
  -webkit-animation: shake-in 0.5s infinite;
  -o-animation: shake-in 0.5s infinite;
  animation: shake-in 0.5s infinite;
}
.dice span.dice_roll_2 {
  background: url("../images/icon.png") no-repeat -184px -320px;
  background-size: 230.4px auto;
  -webkit-animation: shake-in 0.5s infinite;
  -o-animation: shake-in 0.5s infinite;
  animation: shake-in 0.5s infinite;
}
.dice span.dice_roll_3 {
  background: url("../images/icon.png") no-repeat -184px -360px;
  background-size: 230.4px auto;
  -webkit-animation: shake-in 0.5s infinite;
  -o-animation: shake-in 0.5s infinite;
  animation: shake-in 0.5s infinite;
}
.dice i {
  position: absolute;
  top: -7px;
  left: 5px;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 12px;
  color: #fff;
  background-color: red;
  box-shadow: 0 0 1px #000, 0 1px 3px rgba(0, 0, 0, 0.6), 1px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.awards,
.rule {
  width: 9.25925926rem;
  margin: 20px auto 0;
}
.awards h3,
.rule h3 {
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #f8e066;
}
.awards table {
  margin-top: 10px;
  border: 1px solid #fff;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}
.awards th,
.awards td {
  padding: 10px 0;
  line-height: 20px;
  border: 1px solid #fff;
}
.awards th span,
.awards td span {
  color: #f8e066;
}
.awards th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.awards th:nth-child(1) {
  width: 18%;
}
.awards th:nth-child(2) {
  width: 60%;
}
.awards th:nth-child(3) {
  width: 22%;
}
.awards td.title {
  font-weight: bold;
}
.rule ol {
  margin-top: 10px;
  padding-left: 20px;
  line-height: 24px;
  font-size: 14px;
  text-align: justify;
  list-style-type: decimal;
}
.enroll-content {
  width: 9.25925926rem;
  margin: 2.22222222rem auto 0;
  padding-bottom: 0.48309179rem;
  color: #333;
  background-color: #fff;
  border-radius: 0.24154589rem;
  position: relative;
}
.enroll-content h3.title {
  position: absolute;
  top: -0.89371981rem;
  left: 0;
  width: 100%;
  z-index: 1;
}
.enroll-content .content {
  padding: 0 20px;
}
.enroll-content .content .item {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding-left: 40px;
  position: relative;
}
.enroll-content .content .item:last-child {
  padding-left: 0;
}
.enroll-content .content .item > span {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 40px;
  font-size: 14px;
}
.enroll-content .content .item > input {
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding: 0 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
  -webkit-appearance: none;
}
.enroll-content .content .item > a {
  display: block;
  width: 3.8647343rem;
  height: 1.11111111rem;
  margin: 0.48309179rem auto 0;
  line-height: 1.11111111rem;
  border-radius: 0.55555556rem;
  font-size: 16px;
  color: #fff;
  background-color: #e4393c;
  text-align: center;
}
.enroll-content .content .item > p {
  line-height: 20px;
  font-size: 12px;
  text-align: right;
  color: #999;
}
.enroll-content .content .item > p a {
  color: #e4393c;
}
.fragment {
  width: 9.25925926rem;
  margin: 2.22222222rem auto 0;
  padding-bottom: 0.48309179rem;
  color: #333;
  background-color: #fff;
  border-radius: 0.24154589rem;
  position: relative;
}
.fragment h3.title {
  position: absolute;
  top: -0.89371981rem;
  left: 0;
  width: 100%;
  z-index: 1;
}
.fragment .content {
  padding: 0 10px;
}
.fragment table {
  width: 100%;
  margin-top: 10px;
  border: 1px solid #ddd;
  border-collapse: collapse;
  font-size: 14px;
  text-align: center;
}
.fragment th,
.fragment td {
  padding: 10px 0;
  line-height: 20px;
  border: 1px solid #ddd;
}
.fragment th {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.fragment th:nth-child(1) {
  width: 18%;
}
.fragment th:nth-child(2) {
  width: 60%;
}
.fragment th:nth-child(3) {
  width: 22%;
}
.fragment td div {
  width: 1.20772947rem;
  height: 1.36876006rem;
  margin: 0 auto;
  position: relative;
}
.fragment td div.wb {
  background: url("../images/icon.png") no-repeat -1.39071878rem -2.34226321rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.aq {
  background: url("../images/icon.png") no-repeat -1.39071878rem -4.12640902rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.zl {
  background: url("../images/icon.png") no-repeat -1.39071878rem -5.89225589rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.hb {
  background: url("../images/icon.png") no-repeat -1.39071878rem -7.66725223rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.std {
  background: url("../images/icon.png") no-repeat -2.78143756rem -2.34226321rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.tys {
  background: url("../images/icon.png") no-repeat -2.78143756rem -4.12640902rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.up {
  background: url("../images/icon.png") no-repeat -2.78143756rem -5.89225589rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.ddb {
  background: url("../images/icon.png") no-repeat -2.78143756rem -7.66725223rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.xtd {
  background: url("../images/icon.png") no-repeat -2.78143756rem -9.44224857rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.firstPrize {
  background: url("../images/icon.png") no-repeat -1.39071878rem -9.44224857rem;
  background-size: 5.27009223rem auto;
}
.fragment td div.secondPrize {
  background: url("../images/icon.png") no-repeat -1.39071878rem -11.21724491rem;
  background-size: 5.27009223rem auto;
}
.fragment td span {
  font-size: 12px;
  color: #e4393c;
}
.fragment td em {
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  background-color: #ddd;
  font-size: 12px;
}
.fragment td em.succ {
  background-color: #f8e066;
}
.fragment td em.tel {
  background-color: #e4393c;
}
.fragment td em.tel a {
  color: #fff;
}
.fragment td.title {
  font-weight: bold;
}
h3.title {
  width: 100%;
  height: 1.37681159rem;
  padding-bottom: 0.41062802rem;
  line-height: 0.96618357rem;
  font-size: 18px;
  font-weight: bold;
  color: #e4393c;
  background: url("../images/icon.png") no-repeat center -16.96036937rem;
  background-size: auto 18.33718097rem;
  text-align: center;
}
h3.title + p {
  line-height: 20px;
  padding-top: 0.72463768rem;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #e4393c;
}
.popup-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
}
.popup-box .frame-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 7.7294686rem;
  height: auto;
  padding-bottom: 0.48309179rem;
  margin-top: -4.90338164rem;
  margin-left: -3.8647343rem;
  background-color: #fff;
  border-radius: 0.24154589rem;
}
.popup-box .frame-content h3.title {
  position: absolute;
  top: -0.89371981rem;
  left: 0;
  width: 100%;
  z-index: 1;
}
.popup-box .frame-content .prize-box {
  width: 3.62318841rem;
  height: 4.7826087rem;
  margin: 0 auto;
  position: relative;
}
.popup-box .frame-content .prize-box div {
  width: 100%;
  height: 100%;
}
.popup-box .frame-content .prize-box div.wb {
  background: url("../images/icon.png") no-repeat -4.17215635rem -6.25823452rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.aq {
  background: url("../images/icon.png") no-repeat -4.17215635rem -11.61067194rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.zl {
  background: url("../images/icon.png") no-repeat -4.17215635rem -16.90821256rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.hb {
  background: url("../images/icon.png") no-repeat -4.17215635rem -22.23320158rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.std {
  background: url("../images/icon.png") no-repeat -8.34431269rem -6.25823452rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.tys {
  background: url("../images/icon.png") no-repeat -8.34431269rem -11.61067194rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.up {
  background: url("../images/icon.png") no-repeat -8.34431269rem -16.90821256rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.ddb {
  background: url("../images/icon.png") no-repeat -8.34431269rem -22.23320158rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.xtd {
  background: url("../images/icon.png") no-repeat -8.34431269rem -27.5581906rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.firstPrize {
  background: url("../images/icon.png") no-repeat -4.17215635rem -27.5581906rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.secondPrize {
  background: url("../images/icon.png") no-repeat -4.17215635rem -32.88317962rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .prize-box div.nothing {
  background: url("../images/icon.png") no-repeat -11.9675011rem -27.5581906rem;
  background-size: 15.81027668rem auto;
}
.popup-box .frame-content .info {
  padding: 0 0.48309179rem;
  line-height: 0.6763285rem;
  text-indent: 28px;
  font-size: 14px;
  color: #333;
  text-align: justify;
}
.popup-box .frame-content .btn {
  display: block;
  width: 3.8647343rem;
  height: 1.11111111rem;
  margin: 0.48309179rem auto 0;
  line-height: 1.11111111rem;
  border-radius: 0.55555556rem;
  font-size: 16px;
  color: #fff;
  background-color: #e4393c;
  text-align: center;
}
.popup-box .frame-content .close {
  position: absolute;
  left: 50%;
  bottom: -1.69082126rem;
  display: block;
  width: 1.20772947rem;
  height: 1.20772947rem;
  margin-left: -0.60386473rem;
  background: url("../images/icon.png") no-repeat -5.55555556rem 0;
  background-size: 6.95652174rem auto;
}
.popup-box .share-img {
  position: absolute;
  top: 0;
  right: 20px;
  width: 180px;
}
.popup-box .loading {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4.83091787rem;
  height: 7.24637681rem;
  margin-left: -2.41545894rem;
  margin-top: -3.01932367rem;
  font-size: 0;
  text-align: center;
}
.popup-box .loading img {
  width: 4.83091787rem;
  height: 4.83091787rem;
}
.popup-box .loading p {
  margin-top: -0.48309179rem;
  height: 0.72463768rem;
  line-height: 0.72463768rem;
  font-size: 16px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
}
@keyframes forwardBounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
@-o-keyframes forwardBounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
@-ms-keyframes forwardBounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
@-moz-keyframes forwardBounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
@-webkit-keyframes forwardBounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
@-khtml-keyframes forwardBounce {
  40% {
    -webkit-animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    animation-timing-function: cubic-bezier(0.02, 0.01, 0.21, 1);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
    transform: translateY(-20%);
  }
}
[v-cloak] {
  display: none;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-active,
.fade-leave-active {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.slider-bttp-enter,
.slider-bttp-leave-to {
  opacity: 0;
}
.slider-bttp-enter {
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
}
.slider-bttp-leave-active {
  opacity: 0;
}
.slider-bttp-enter-active,
.slider-bttp-leave-active {
  position: absolute;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.slider-lfrt-enter,
.slider-lfrt-leave-to {
  opacity: 0;
}
.slider-lfrt-enter {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.slider-lfrt-leave-active {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.slider-lfrt-enter-active,
.slider-lfrt-leave-active {
  position: absolute;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.slider-enter,
.slider-leave-to {
  opacity: 0;
  height: 0;
}
.slider-enter-active,
.slider-leave-active {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.shake-enter-active {
  -webkit-animation: shake-in 0.5s;
  -o-animation: shake-in 0.5s;
  animation: shake-in 0.5s;
}
.shake-leave-active {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.shake-leave-to {
  opacity: 0;
  height: 0;
}
@keyframes shake-in {
  0% {
    transform: translateX(9%);
  }
  16.6% {
    transform: translateX(-9%);
  }
  33.33% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  66.6% {
    transform: translateX(3%);
  }
  83.33% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
@-o-keyframes shake-in {
  0% {
    transform: translateX(9%);
  }
  16.6% {
    transform: translateX(-9%);
  }
  33.33% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  66.6% {
    transform: translateX(3%);
  }
  83.33% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
@-ms-keyframes shake-in {
  0% {
    transform: translateX(9%);
  }
  16.6% {
    transform: translateX(-9%);
  }
  33.33% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  66.6% {
    transform: translateX(3%);
  }
  83.33% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes shake-in {
  0% {
    transform: translateX(9%);
  }
  16.6% {
    transform: translateX(-9%);
  }
  33.33% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  66.6% {
    transform: translateX(3%);
  }
  83.33% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes shake-in {
  0% {
    transform: translateX(9%);
  }
  16.6% {
    transform: translateX(-9%);
  }
  33.33% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  66.6% {
    transform: translateX(3%);
  }
  83.33% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
@-khtml-keyframes shake-in {
  0% {
    transform: translateX(9%);
  }
  16.6% {
    transform: translateX(-9%);
  }
  33.33% {
    transform: translateX(6%);
  }
  50% {
    transform: translateX(-6%);
  }
  66.6% {
    transform: translateX(3%);
  }
  83.33% {
    transform: translateX(-3%);
  }
  100% {
    transform: translateX(0);
  }
}
.bounce-enter-active {
  -webkit-animation: bounce-in 0.5s;
  -o-animation: bounce-in 0.5s;
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.bounce-leave-to {
  opacity: 0;
  height: 0;
}
@keyframes bounce-in {
  0% {
    transform: translateY(9%);
  }
  16.6% {
    transform: translateY(-9%);
  }
  33.33% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(-6%);
  }
  66.6% {
    transform: translateY(3%);
  }
  83.33% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@-o-keyframes bounce-in {
  0% {
    transform: translateY(9%);
  }
  16.6% {
    transform: translateY(-9%);
  }
  33.33% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(-6%);
  }
  66.6% {
    transform: translateY(3%);
  }
  83.33% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@-ms-keyframes bounce-in {
  0% {
    transform: translateY(9%);
  }
  16.6% {
    transform: translateY(-9%);
  }
  33.33% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(-6%);
  }
  66.6% {
    transform: translateY(3%);
  }
  83.33% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes bounce-in {
  0% {
    transform: translateY(9%);
  }
  16.6% {
    transform: translateY(-9%);
  }
  33.33% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(-6%);
  }
  66.6% {
    transform: translateY(3%);
  }
  83.33% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes bounce-in {
  0% {
    transform: translateY(9%);
  }
  16.6% {
    transform: translateY(-9%);
  }
  33.33% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(-6%);
  }
  66.6% {
    transform: translateY(3%);
  }
  83.33% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
@-khtml-keyframes bounce-in {
  0% {
    transform: translateY(9%);
  }
  16.6% {
    transform: translateY(-9%);
  }
  33.33% {
    transform: translateY(6%);
  }
  50% {
    transform: translateY(-6%);
  }
  66.6% {
    transform: translateY(3%);
  }
  83.33% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
